nav {
  background-color: #f8f8f8;
  display: flex;
  gap: 8px;
}

nav a {
  text-decoration: none;
  padding: 5px;
}

.active {
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.droite {
  margin-left: auto;
}
